/*
COLORS:
    primary: #acd581
    secondary: #8a2e3a
*/

html, body {
    position: relative;
    width: 100%;
    height:100%;
}

/** Initial screen */

.initial-screen {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;

    background: #acd581;
    color: #FFF;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 3rem;
}

/** Touch surface */
.touch-surface {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 10;

    background: #acd581;
    box-shadow: inset 0 0 30px rgba(0,0,0,0.8);
}

.main-title {
    font-size: 60px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 0 10px #8a2e3a;
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}

.touching .main-title {
    opacity: 0.05;
}

.pointer {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #8a2e3a;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.touching .pointer {
    opacity: 1;
    transition: opacity 0s ease-in-out;
}

.touch-info {
    text-align: center;
}

.coord {
    display: inline-block;
    margin: 5px 10px;
    font-size: 40;
    color: #FFF;
    text-align: center;
    text-shadow: 0 0 10px #8a2e3a;
    opacity: 0.2;
}